$color-background: #F5F5F5;
$color-primary: rgba(22, 44, 78, 1);
$color-button: rgba(29, 65, 105, 1);
$color-text: rgba(0, 0, 0, 0.8);
$color-placeholder: rgba(0, 0, 0, 0.6);
$color-hover: rgba(223, 34, 36, 1);
$color-overlay: rgba(80, 80, 80, 0.4);

$content-width: 1920px;
$tablet-width: 768px;
$mobile-big-width: 360px;
